@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: rgba(218, 224, 230, 1);
    font-family: sans-serif;
    overflow: scroll;
    scroll-behavior: smooth;
    
}

header {
    font-family: 'Mochiy Pop P One', sans-serif;
    
    background-color: #0079d3;
    display: grid;
    grid-template-rows: auto 1fr;
    color: white;   
    align-items: center; 
    padding: 1rem;
    border-radius: 5px;

    position: fixed;
    top: 2.5vw;
    left: 5vw;
    width: 90vw;
    

}

@media screen and (max-width: 420px) {
    header nav ul a { 
        display: none;
    }
    
}


header nav ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 2rem;
    
}

header nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    
}

header nav ul a:hover {
    color: cornsilk;
    font-size: 1.2rem;
}



main {
    display: grid;
    grid-template-rows: auto 1fr;
    padding-top: 150px;
}

.news-type {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    grid-auto-rows: 200px;

    
}

.news-type .health {
    
    background-image: url(https://img.freepik.com/free-vector/illustration-healthy-lifestyle_53876-28533.jpg?size=626&ext=jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 2px blueviolet;
   
}

.news-type .sports {
   
    background-image: url(https://media.istockphoto.com/photos/various-sport-equipments-on-grass-picture-id949190736?b=1&k=20&m=949190736&s=170667a&w=0&h=f3ofVqhbmg2XSVOa3dqmvGtHc4VLA_rtbboRGaC8eNo=);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 2px blueviolet;
}

.news-type .tech {
    outline: 1px black solid;
    background-image: url(https://media.istockphoto.com/photos/abstract-graphic-world-map-illustration-on-blue-background-big-data-picture-id1294021851?b=1&k=20&m=1294021851&s=170667a&w=0&h=vsypj3JPqiWOU5q21fX3lHt1Z7wphVNE8kfqdpogPSs=);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 2px blueviolet;;
}

.news-type .lifestyle {
    background-image: url(https://img.freepik.com/free-vector/illustration-passion_53876-17884.jpg?size=626&ext=jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 2px blueviolet;
    border-radius: 10px;
}



.do-not-miss {
    
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    padding: 1rem;

}


@media screen and (max-width: 800px) {
    .do-not-miss {
        grid-template-columns: 1fr;
    }
    

}

.popular-news {
    
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 5px 5px 3px blueviolet;
}

.popular-news h2 {
    text-align: center;
    color: darkblue;
    padding-bottom: 1rem;
}

.popular-news h3:hover {
    font-size: 1.2rem;
}

.popular-news .health-news {

    padding: 1rem;
}


.sports-news {
   
    padding: 1rem;
}

.tech-news {
    
    padding: 1rem;
}


.lifestyle-news {
    
    padding: 1rem;
}

.popular-news a {
    text-decoration: none;
}


.connect {
    display: grid;
    grid-auto-rows: auto 1fr;
    gap: 1.5rem;
}

.newsletter {
    display: grid;
    place-content: center;
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 5px 5px 3px royalblue;
    color: rgba(0, 0, 0, 0.8);
}

.newsletter-title {
    text-align: center;
    padding-bottom: 0.6rem;
    color: blue;
}

.newsletter-button {
    background-color: royalblue;
    color: white;
}

.ads {
    display: grid;
    grid-auto-rows: auto;
    background-color: white;
    border-radius: 8px;
    place-content: center;
    gap: 1rem;
    box-shadow: 5px 5px 3px royalblue;
}  

.ads img {
    width: 200px;
}

.ads-title {
    text-align: center;
    color: blue;
}
