* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

header {
    height: 120px;
    background-color: aqua;
}

.news-type {
    outline: 1px black solid;
}

.do-not-miss {
    outline: solid 1px black;
    display: grid;
    grid-template-columns: 1fr 300px;
}

main {
    display: grid;
    grid-template-rows: 250px 1fr;
}

.connect {
    display: grid;
}