* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 100PX 1fr;
    background-color: rgba(218, 224, 230, 1);
    font-family: sans-serif;
    scroll-behavior: smooth;


}

header {

    background-color: royalblue;
    display: grid;
    grid-template-rows: auto 1fr;
    color: white;   
    align-items: center; 
    padding: 1rem;
  
    position: fixed;
    width: 100vw;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 2rem;
    
}

header nav ul a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

header nav ul a:hover {
    color: cornsilk;
    font-size: 1.2rem;
}


main {
    padding-top: 130px;
    display: grid;
    grid-template-columns: 1fr 350px;
    
    line-height: 1.6;
    font-size: 1.35rem;
    gap: 1.5rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 1rem;
    margin: 1rem;

}

.article p {
    padding: 1rem;
}

.article {
    background-color: white;
    border-radius: 8px;
    padding: 0.8rem;
    color: rgba(0,0, 0, 0.8);
    text-align: justify;
    
}

.article-title {
    text-align: center;
    color: royalblue;
}


.related-title {
    text-align: start;
}


a {
    text-decoration: none;
}

.related-page p {
    text-align: justify;
    font-size: 1.2rem;
}